<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>footer</key>
		<string></string>
		<key>header</key>
		<string>打开设置后,立即收到推送消息</string>
		<key>HYKItem</key>
		<array>
			<dict>
				<key>title</key>
				<string>双色球</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>SubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>HYKKeyName</key>
				<string>ssq</string>
			</dict>
			<dict>
				<key>title</key>
				<string>大乐透</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>SubTitle</key>
				<string>每周三、五、日开奖</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>HYKKeyName</key>
				<string>dlt</string>
			</dict>
			<dict>
				<key>title</key>
				<string>七星彩</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>SubTitle</key>
				<string>每周二、四、五、日开奖</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>HYKKeyName</key>
				<string>qxc</string>
			</dict>
			<dict>
				<key>title</key>
				<string>排列3</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>SubTitle</key>
				<string>每周二、四、日开奖</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>HYKKeyName</key>
				<string>pl3</string>
			</dict>
			<dict>
				<key>title</key>
				<string>排列5</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>SubTitle</key>
				<string>每周一、三、日开奖</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>HYKKeyName</key>
				<string>pl5</string>
			</dict>
			<dict>
				<key>title</key>
				<string>七乐彩</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>SubTitle</key>
				<string>每周一、二、三、四、开奖</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>HYKKeyName</key>
				<string>qlc</string>
			</dict>
			<dict>
				<key>title</key>
				<string>3D</string>
				<key>accessotyType</key>
				<string>UISwitch</string>
				<key>SubTitle</key>
				<string>每周五、六、日开奖</string>
				<key>HYKCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>HYKKeyName</key>
				<string>3d</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
